@font-face {
    font-family: 'Nanum Gothic';
    src: url('NanumGothic-Regular.eot');
    /* IE9 Compat Modes */
    src: url('NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('NanumGothic-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('NanumGothic-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('NanumGothic-Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: 400
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('NanumGothic-Bold.eot');
    /* IE9 Compat Modes */
    src: url('NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('NanumGothic-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('NanumGothic-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('NanumGothic-Bold.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: 700
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('NanumGothic-ExtraBold.eot');
    /* IE9 Compat Modes */
    src: url('NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('NanumGothic-ExtraBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('NanumGothic-ExtraBold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('NanumGothic-ExtraBold.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: 800
}
